DISCORD_CLIENT_ID = # Oauth Client ID
DISCORD_CLIENT_SECRET # Oauth client secret
ENV = # production or development
REQUEST_TOKEN = # Brawl stars API Authorization Token
PORT = # port to host the website own
DB_USERNAME = # Postgres Username
DB_PASSWORD = # Postgres Password
DB_HOST = # Postgres database host IP
DB_NAME = # Postgres database name