h1, h2, h3, h4, h5, h6, p, tr, td, input, a, button, .label{
  font-family: 'Lato';
}

#container-override {
  max-width: 1920px;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-dark {
  background-color: #6EB694;
}

#non-colorblind {
  color: white;
}

#non-colorblind:hover {
  color: #eee;
}

.dropdown-toggle {
  color: #2C2F33;
  border-color: #2C2F33;
  background-color: #6EB694;
  font-weight: 500;
}

.dropdown-toggle:hover{
  background-color: #2C2F33;
  color: #6EB694;
}

.container {
  max-width: 900px;
	padding: 25px;
}

.content-section {
  color: #28a745;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #28a745;
  border-radius: 3px;
  margin-bottom: 20px;
  max-width: 640px;
}

.flash {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flash p {
  margin-bottom: 0px; /*Override the margin-bottom of 20px in content-section*/
}

.flash-success {
  border: 1px solid #a3c293;
  color: #6b8c5c;
  background-color: #fcfff5;
}

.flash-error {
  border: 1px solid #e0b4b4;
  color: #b7638a;
  background-color: #fff6f6;
}

.hideme {
    opacity: 0;
}

a:hover {
  text-decoration: none;
}
