{% extends "layout.html" %}
{% block content %}
<h1 style="padding-top:20px">Dashboard</h1>
<div class="content-section" style="padding-bottom:20px">
  <h3>Shortened URLs</h3>
  {% for url in urls %}
    <a href="{{ url.url }}">{{ base_url }}/{{ url.code }}</a><br />
  {% endfor %}
</div>
<div class="content-section" style="padding-bottom:20px">
  <h3>Pastebins</h3>
  {% for p in pastes %}
    <a href="{{ base_url }}/pastebin/{{ p.code }}">{{ base_url }}/pastebin/{{ p.code }}</a><br />
  {% endfor %}
</div>
{% endblock content %}