{% extends "layout.html" %}
{% block content %}
<div class="background">
  <div class="header">
    <h1>Welcome to my website</h1>
    <div class="arrow-down"></div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="hideme">
      <p class="about-me">I am a 14 year old who likes to program. My main language to create things is Python, but I also know some Javascript, Go, and C++. This website is a personal project to learn more about web development. My most used project is <a href="https://github.com/SharpBit/brawlstats">brawlstats</a>, an API wrapper written in Python for the brawl stars API. Below you can find my recent github commits fetched from the GitHub API.</p>
    </div>
    <div class="inner-container">
      <div class="github">
        {% for push in recent %}
          <div class="content-section">
            <span style="font-size: 12px">{{ push.repo.name }}</span>
            {% for commit in push.payload.commits %}
              <p class="commit-info">
                <a href="{{ commit.url.replace('api.', '').replace('/repos', '').replace('commits', 'commit') }}" target="_blank">
                  <code class="inlinecode">{{ commit.sha[:7] }}</code>
                </a> {{ commit.message }}
              </p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
