{% extends "layout.html" %}
{% block content %}
<div class="content">
  <div class="container">
    <h1>Welcome to my website!</h1>
    <div class="about-me">
      <h4>About Me</h4>
      <p class="info">
        If you're here, you probably clicked on a link to this site I sent to you. I'm SharpBit, the creator of this website. My two favorite hobbies are playing games and coding. My favorite games are Rocket League, Minecraft, and Town of Salem.
        I've also been playing violin since I was 5 and I currently play in the MYO Symphony Orchestra. I've participated in All County in grades 5, 6, 8, and 9 and LISFA in grade 10.
      </p>
      <p class="coding">
        I first started out with Scratch in 6th grade where I made games and programs and competed against my friend, Sayajiaji. However, I started to learn Python in August 2017, which is when I realized programming is really fun and not difficult! I also know some Javascript, Go, Java and C++.
        I created this website to learn more about web development. You can view the source code <a href="https://github.com/SharpBit/webserver" target="_blank">here</a>. My most used project is <a href="https://github.com/SharpBit/brawlstats" target="_blank">brawlstats</a>, an API wrapper written in Python for the Brawl Stars API.
        You can view all of my projects on my <a href="https://github.com/SharpBit" target="_blank">github page</a>. If you want to learn python too, I compiled a list of <a href="https://sharpbit.tk/learnpython" target="_blank">useful resources</a> to learn Python!
      </p>
      <h4>What can I do on this website?</h4>
      <p class="this-website">
        You can navigate the website by using the navigation bar at the top. It has the ability to shorten URLs and save code in pastebins. You can also log in using Discord before doing that to view all your shortened URLs and pastebins under your dashboard!
      </p>
    </div>
    <div class="github">
      <h4>Recent GitHub Commits</h4>
      {% for push in recent %}
        <div class="content-section">
          <span style="font-size: 12px">{{ push.repo.name }}</span>
          {% for commit in push.payload.commits %}
            <p class="commit-info">
              <a href="{{ commit.url.replace('api.', '').replace('/repos', '').replace('commits', 'commit') }}" target="_blank">
                <code class="inlinecode">{{ commit.sha[:7] }}</code>
              </a> {{ commit.message }}
            </p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
