{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="info" style="padding-top:40px;padding-bottom:10px;">
    <h1>School Week</h1>
    <h5>This week's maroon and gray A and B days.</h5>
  </div>
  <table>
    <tr>
      {% for day in week %}
        <td class="{{ day.split('<br>')[1] }}" style="padding:10px;">{{ day }}</td>
      {% endfor %}
    </tr>
  </table>
</div>
<style>
  table, td, th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }

  .Maroon {
    color: #8d0000;
  }
  .Gray {
    color: #808080;
  }
</style>
{% endblock content %}