{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="info" style="padding-top:40px;padding-bottom:10px;">
    <h1>School Week</h1>
    <h5>Maroon and gray A and B days for the week of {{ requested_date.strftime('%m/%d/%Y') }}</h5>
    <label for="requested-date">Choose date</label>
    <input type="date" id="requested-date" name="requested-date"
       value="{{ requested_date }}"
       min="2020-09-05" max="2021-06-11" onchange="onDateChange(event);">
  </div>
  <table>
    <tr>
      {% for day in week %}
        <td class="{{ day.split('<br>')[1] }}" style="padding:10px;">{{ day }}</td>
      {% endfor %}
    </tr>
  </table>
</div>
<style>
  table, td, th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }

  .Maroon {
    color: #8d0000;
  }
  .Gray {
    color: #686868;
  }
</style>
<script>
  function onDateChange(e){
    window.location.href = `/schoolweek/${e.target.value}`;
  }
</script>
{% endblock content %}