{% extends "layout.html" %}
{% block content %}
{% if messages %}
<div class="info" style="padding-top:10px;padding-bottom:10px;">
{% else %}
<div class="info" style="padding-top:40px;padding-bottom:10px;">
{% endif %}
  <h1>School Week</h1>
  <h5>Maroon and gray A and B days for the week of {{ requested_date.strftime('%m/%d/%Y') }}</h5>
  <label class="label" for="requested-date" style="margin-top: 5px;">Choose date</label>
  <input type="date" id="requested-date" name="requested-date"
      value="{{ requested_date }}"
      min="2020-09-08" max="2021-06-11" onchange="onDateChange(event);">
</div>
<table>
  <tr class="week-calendar">
    {% for day in week %}
      <td class="{{ day.split('<br>')[1] }}" style="padding:10px;">{{ day }}</td>
    {% endfor %}
  </tr>
</table>
<div class="form-items" style="max-width: 700px;margin-top:25px;">
  <form class="form" method="POST" action="/schoolweek/subscribe">
    <div class="form-group">
      <label class="label" for="email">Subscribe to daily email notifications!</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="Email"></input>
    </div>
    <button type="submit" class="btn btn-success">Subscribe</button>
  </form>
</div>
<style>
  table, td, th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }

  .Maroon {
    color: #8d0000;
  }
  .Gray {
    color: #686868;
  }
</style>
<script>
  function onDateChange(e){
    window.location.href = `/schoolweek/${e.target.value}`;
  }
</script>
{% endblock content %}