body {
  background-color: #2C2F33;
}

h1, h3, h6, h7 {
  color: #f1f1f1;
}

.dropdown-menu {
  background-color: #23272A;
}

.dropdown a.dropdown-item {
  color: #f1f1f1;
}

.dropdown a:hover {
  background-color: #2C2F33;
}

.navbar.navbar-expand-lg.navbar-dark {
  background-color: #23272A;
}

.form {
  color: #f1f1f1;
}

.label {
  color: #f1f1f1;
}

.form-control {
  background-color: #f1f1f1;
}