body {
  background-color: #2C2F33;
}

h1, h3, h6, h7 {
  color: #fafafa;
}

.dropdown-menu {
  background-color: #23272A;
}

.dropdown a.dropdown-item {
  color: #fafafa;
}

.dropdown a:hover {
  background-color: #2C2F33;
}

.navbar.navbar-expand-lg.navbar-dark {
  background-color: #23272A;
}

.form {
  color: #fafafa;
}

.label {
  color: #fafafa;
}

.form-control {
  background-color: #fafafa;
}

.collapse.navbar-collapse .navbar-nav .nav-link:hover {
  color: #cacaca;
}

.content-section {
  background: #2a2a2a;
  padding: 10px 20px;
  border: 1px solid #606060;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 700px;
}