h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
}

.collapse.navbar-collapse .navbar-nav .nav-link:hover {
  color: #eee;
}

.navbar-dark {
  background-color: #6EB694;
}

.dropdown-toggle {
  color: #2C2F33;
  border-color: #2C2F33;
  background-color: #6EB694;
  font-weight: 500;
}

.dropdown-toggle:hover{
  background-color: #2C2F33;
  color: #6EB694;
}

.inner-container {
  max-width: 640px;
	padding: 25px;
}

.content-section {
  color: #28a745;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border: 2px solid #28a745;
  border-radius: 3px;
  margin-bottom: 20px;
  max-width: 640px;
}

.hideme {
    opacity:0;
}