<html>
  <head>
    <title>Pastebin</title>
    {% include 'snippets/header.html' %}
    <link rel="stylesheet" type="text/css" href="/static/{{ theme }}.css">
    {% include 'snippets/meta.html' %}
  </head>
  <body>
    {% include 'snippets/navbar.html' %}
    <h1>SharpBit Pastebin</h1>
    <h3>Note: You must be signed in to view your URLs and pastebins on your dashboard.</h3>
    <form class="form" method="POST" action="/pb">
      <div class="form-group">
        <label class="label" for="text">Code</label>
        <textarea name="text" type="text" class="form-control" id="text"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% include 'snippets/scripts.html' %}
  </body>
</html>