<html>
  <head>
    <title>Pastebin</title>
    {% include 'snippets/header.html' %}
    {% include 'snippets/meta.html' %}
  </head>
  <body>
    {% include 'snippets/navbar.html' %}
    <h1>SharpBit Pastebin</h1>
    <form class="form" method="POST" action="/pb">
      <div class="form-group">
        <label for="text">Code</label>
        <textarea name="text" type="text" class="form-control" id="text" style="background-color: #dfdfdf"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% include 'snippets/scripts.html' %}
  </body>
</html>
<style>
    body {
      background-color: #2C2F33;
    }

    h1, h3 {
      color: #dfdfdf;
    }

    .form {
      color: #dfdfdf
    }
</style>