<html>
  <head>
    <title>URL Shortener</title>
    {% include 'snippets/header.html' %}
    <link rel="stylesheet" type="text/css" href="/static/{{ theme }}.css">
    {% include 'snippets/meta.html' %}
  </head>
  <body>
    {% include 'snippets/navbar.html' %}
    <h1>SharpBit URL Shortener</h1>
    <h3>Note: You must be signed in to view your URLs and pastebins on your dashboard.</h3>
    <form method="POST" action="/url">
      <div class="form-group">
        <label for="url" class="label">URL</label>
        <input name="url" type="url" class="form-control" id="url"></input>
        <label for="code" class="label">Shortened Code</label>
        <input name="code" type="code" class="form-control" id="code"></input>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% include 'snippets/scripts.html' %}
  </body>
</html>